<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/ball.png" type="image/x-icon">
    <title>eZCouted</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    {{title}}
    <div class="main-content"></div>

    {{!-- {{>footer}} --}}

    <script src="js/index.js"></script>
</body>

</html>