<header>
    
    <h1><img src="/img/ball.png" class="logo" alt="">eZCouted</h1>
 {{!--    <div class="login-btns">
        <a class="loginLink" href="/register">REGISTER</a>
        <a class="loginLink" href="/login">LOGIN</a>
    </div> --}}
</header>
<nav>
    <a href="/">Home</a>
    <a class="usageLink" href="/usage/ou">Usage OU</a>
    <a class="usageLink" href="/usage/uu">Usage UU</a>
    <a class="usageLink" href="/usage/nu">Usage NU</a>
    <a class="usageLink" href="/usage/db">Usage DB</a>
    <a class="usageLink" href="/usage/lc">Usage LC</a>
    <a class="playersLink" href="/players/ou">Players OU</a>
    <a class="playersLink" href="/players/uu">Players UU</a>
    <a class="playersLink" href="/players/nu">Players NU</a>
    <a class="playersLink" href="/players/db">Players DB</a>
    <a class="playersLink" href="/players/lc">Players LC</a>
</nav>