body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #123456;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid grey;
}

header h1 {
    display: inline;
}

nav {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

nav a {
    width: 9%;
    margin: 0 1.2%;
    color: white;
    text-decoration: none;
    border-left: 5px solid #123456;
    background-color: #16576d;
    padding: 2px;
}

.main-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    background: #16576d;
    padding: 5px;
}

td {
    border: 1px solid #123456;
}

.pkmHighRate {
    color: green;
    font-weight: bold;
}

.pkmLowRate {
    color: red;
    font-weight: bold;
}

.plyHighRate {
    color: green;
    font-weight: bold;
}

.playerInfo {
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
}

.plyName:hover {
    background-color: #16576d;
}

.logo {
    margin: 0;
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.pageTitle {
    text-align: center;
}
